h1 {
    color: green;
    text-align: center;
}

.sliderdiv {
    width: 100%;
}


.buttons, .sliderdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#join, #create {
    margin: 15px;
}
